<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aula Proway</title>
</head>
<body>
  <input type="button" value="enviar" (click)="acaoNgIf()">
  <h2 *ngIf="exibirTexto">Testando Angular na proway</h2>

<hr>

<ul *ngFor="let curso of cursos; let indice = index">
  <li>{{indice+1}} {{curso}}</li>
</ul>

<hr>
<div [ngSwitch]="curso_selecionado">
  <div *ngSwitchCase="cursos[0]">HTML & CSS</div>
  <div *ngSwitchCase="cursos[1]">PHP Báscio</div>
  <div *ngSwitchCase="cursos[2]">PHP Avançado</div>
  <div *ngSwitchCase="cursos[3]">Angular</div>
</div>
<hr>


<div [ngClass]="{'ligado':ligado, 'desligado':!ligado}">Lâmpada</div>
</body>
</html>

