<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursos</title>
</head>
<body>
<!--Formulários-->
<form>
  <input type="text" placeholder="Curso" name="nome"  [(ngModel)]="curso.nomeCurso">
  <input type="number" placeholder="Valor" name="valor" [(ngModel)]="curso.valorCurso">
  <input type="text" placeholder="Área"   name="area" [(ngModel)]="curso.areaCurso">
  <input type="button" value="Cadastrar" (click)="cadastrar()" *ngIf="id < 0">
  <input type="button" value="Editar" *ngIf="id >= 0" (click)="atualizar()">
</form>

<!--Tabela-->
<table>
  <tr>
    <td>Curso</td>
    <td>Valor</td>
    <td>Área</td>
    <td>Ações</td>
      </tr>
    <tr *ngFor="let curso of vetorCursos; let id = index;">
      <td>{{curso.nomeCurso}}</td>
      <td>{{curso.valorCurso}}</td>
      <td>{{curso.areaCurso}}</td>
      <button (click)="excluir(id)">Excluir</button>
      <button (click)="editar(id)">Editar</button>
    </tr>

</table>
</body>
</html>
