<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursos</title>
</head>
<body>
<!--Formulários-->
<form>
  <input type="text" name="Curso" placeholder="Curso">
  <input type="number" placeholder="Valor">
  <input type=""text placeholder="Área">
  <input type="button" value="Cadastrar">
</form>

<!--Tabela-->
<table>
  <tr>
    <td>Curso</td>
    <td>Valor</td>
    <td>Área</td>
    <td>Ações</td>
  </tr>
</table>
</body>
</html>
