form{
  width: 800px;
  margin: 30px auto;
  border-radius: 5px;
  background-color: #e8e8e8;
  padding: 5px;
  display: flex;
  justify-content: center;
}

input[type="text"],
input[type="number"]{
  border-radius: 5px;
  padding: 5px;
  border: none;
  margin: 3px;
  margin-right: 5px;
}

input[type="button"]{
  background-color:rgb(3, 90, 0);
  color: white;
  margin-left: 20px;
  border-radius: 50px;
  border: none;
  padding: 5px;
  width: 150px;

}
input[type="button"]:hover{
background: rgb(37, 184, 32);
}

table {
  width: 800px;
  margin: 30px auto;
  border-radius: 5px;
  background-color: #e8e8e8;
  padding: 5px;
  text-align: center;

}
